canvas {
  display: block;
  margin: 50px auto;
  background: #cdcdcd;
  box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
